
@{
    ViewBag.Title = "ListarArticulos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Style/estilos.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">

            <div class="col-xs-12 col-sm-12 articulo">

                <div class="col-xs-6 col-sm-6">
                    <img class="img-responsive" src="../img/manizales/manizales_1.jpg" alt="">
                </div>

                <div class="well col-xs-6 col-sm-6">
                    <h2>Articulo 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed iure deleniti, accusantium deserunt quisquam corrupti minima itaque nemo nobis. Exercitationem quam est aut error placeat itaque atque praesentium. Perferendis, obcaecati.</p>
                    <a href="detalle-articulo.html">Ver Articulo Completo</a>
                </div>

            </div>




            <div class="col-xs-12 col-sm-12 articulo">
                <br>
                <div class="col-xs-6 col-sm-6">
                    <img class="img-responsive" src="../img/manizales/manizales_1.jpg" alt="">
                    <br>
                </div>

                <div class="well col-xs-6 col-sm-6">
                    <h2>Articulo 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed iure deleniti, accusantium deserunt quisquam corrupti minima itaque nemo nobis. Exercitationem quam est aut error placeat itaque atque praesentium. Perferendis, obcaecati.</p>

                </div>


            </div>

            <p class="text-center">
                <button type="button" name="paginar" onclick="getPagPublication(null);" class="btn btn-primary btn-sm">Volver</button>
            </p>

        </div>
    </div>
</div>