
@{
    ViewBag.Title = "RestaurarPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Style/estilos.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">

            <form id="frm_restaurar" enctype="multipart/form-data" action="~/Home/SolicitarRestaurar" method="post">
                @Html.AntiForgeryToken()
                <h2 style="text-align: center;">Ingresar Correro electronico</h2>
                <br>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email de cuenta">
                </div>
                </br>
                </br>
                <p class="text-center">
                    <button type="submit" name="paginar" class="btn btn-primary btn-sm">Restaurar</button>
                </p>
            </form>



        </div>
    </div>
</div>

