
@{
    ViewBag.Title = "Restaurar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="contents">

        <div class="row">
            <article>
                <div class="col-xs-12 col-sm-7 col-sm-offset-3 col-md-7 col-md-offset-3 col-lg-5 col-lg-offset-3">

                    <h2>Cambiar Contraseña</h2>
                    <br />
                    <form id="form-password" action="/Home/UpdateRestorePassword" method="post">
                        <div id="form-general" class="wizard clearfix">
                            <fieldset>
                                <legend>Desea cambiar la contraseña</legend>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="inputNombre" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 control-label">Nueva Contraseña: </label>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                                    <input class="form-control" type="password" name="nueva_contrasena" id="nueva_contrasena" placeholder="Ingresar nueva contraseña">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputNombre" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 control-label">Confirmar: </label>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="input-group">
                                                <div class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></div>
                                                <input class="form-control" type="password" name="confirmar_contrasena" id="confirmar_contrasena" placeholder="Confirmar contraseña">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-xs-offset-1 col-sm-12 col-sm-offset-3 col-md-12 col-md-offset-4 col-md-12 col-md-offset-4">
                                        <br />
                                        <div class="ui buttons">
                                            <button type="submit" id="btn-cambiar" name="btn-cambiar" class="ui twitter button">Cambiar</button>
                                            <div class="or"></div>
                                            <button type="submit" name="cancelar" class="ui black button">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </article>
        </div>
    </div>
</section>

