@model Medinlinea.Models.CiudadModel

@{
    ViewBag.Title = "Index";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<link href="~/Style/estilos.css" rel="stylesheet" />


<div class="container">
    <!--Contenido que se muestra en la pagina-->
    <div class="content-wrap">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="cajaTitulo">
                    <p class="text-center" style="font-size:30px !important; color:white;">CIUDADES</p>
                </div>
            </div>

            <div class="col-xs-12">
                
                @foreach (var item in Model.Ciudades)
                {
                    <div class="col-xs-12 col-sm-9 col-sm-offset-1 col-md-9 col-md-offset-1 col-lg-9 col-lg-offset-1">
                        <div class="col-xs-12 col-sm-10 col-lg-10">
                            <p class="text-left"><i class="fa fa-file fa-2x"></i><span style="font-size:23px !important;">&nbsp;&nbsp;&nbsp;@item.NombreCiudad</span></p>
                            <br />
                            <p>
                                @Html.ActionLink("Delete", "Delete", new { id = item.IdCiudad })
                            </p>
                            <hr class="separar" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @*Por: Leonardo Montes
        Fecha: 27/12/2015
        Nota: Segmento de codigo para la paginacion de articulos*@

    <div class="pager">
        @*<div class="btn-group pull-right">*@
        @Html.PageLinks(Model.Pagination, x => Url.Action("Index", new { page = x }))
    </div>
</div>
