@model Medinlinea.Models.Membresias

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<Especialistas> listado = (ViewBag.listado != null) ? (List<Especialistas>)ViewBag.listado : new List<Especialistas>();
}
<link href="~/Style/estilos.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
            <div class="col-xs-12 col-sm-12">
                <div class="cajaTitulo">
                    <p class="text-center" style="font-size:30px !important; color:white;">NUEVA MEMBRESIA</p>
                </div>
            </div>
            <br />
            <br />
            <br />

            <form id="form-mebresias" enctype="multipart/form-data" action="~/Membresia/Create" method="post">
                @Html.AntiForgeryToken()

                <section>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Especialista</label>
                        <div class="col-sm-9">
                            <select name="IdEspecialista" id="IdEspecialista" class="form-control">
                                <option value="">Seleccione Especialidad</option>
                                @{
                                    foreach (Especialistas obj in listado)
                                    {
                                        <option value="@obj.IdEspecialista">@obj.NombreEsp @obj.ApellidoEsp</option>
                                    }
                                }
                            </select>
                            <br>
                        </div>
                    </div>
                    <br><br><div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Tipo Membresia</label>
                        <div class="col-sm-9">
                            <select name="TipoMembresia" id="TipoMembresia" class="form-control" required>
                                <option value="">Seleccione tipo</option>
                                <option value="premium">Premium</option>
                                <option value="gratuita">Gratuita</option>
                            </select>
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Fecha de Inicio</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="FechaInicio" name="FechaInicio" required>
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Fecha de Fin</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="FechaFin" name="FechaFin" required>
                        </div>
                    </div>
                    <br><br>
                    <br><br>
                    <div class="center-block">
                        <button type="button" onclick="validar_enviar();" class="btn btn-success">Guardar</button>
                        <button type="button" onclick="showLoading(); location.href = 'index';" class="btn btn-danger">Cancelar</button>
                    </div>
                </section>
            </form>

        </div>
    </div>
</div>

<script type="text/javascript">
    //validacion de campos
    function validar_enviar() {
        var form = $("#form-mebresias");
        form.bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok-circle',
                invalid: 'glyphicon glyphicon-ban-circle',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                FechaInicio: {
                    validators: {
                        notEmpty: {
                            message: "La fecha de inicio es requerido"
                        }
                    }
                },
                TipoMembresia: {
                    validators: {
                        callback: {
                            message: 'El tipo de membresia es requerido',
                            callback: function (value, validator, $field) {
                                var options = validator.getFieldElements('TipoMembresia').val();
                                return (options != null && options.length > 0);
                            }
                        }
                    }
                },
                IdEspecialista: {
                    validators: {
                        callback: {
                            message: 'El especialista es requerido',
                            callback: function (value, validator, $field) {
                                var options = validator.getFieldElements('IdEspecialista').val();
                                return (options != null && options.length > 0);
                            }
                        }
                    }
                },
                FechaFin: {
                    validators: {
                        notEmpty: {
                            message: "La fecha de finalización es requerido"
                        }
                    }
                }
            }
        });

        form.bootstrapValidator('validate');
        var bootstrapValidator = form.data('bootstrapValidator');
        if (bootstrapValidator.isValid()) {
            showLoading();
            formulario = document.getElementById("form-mebresias");
            formulario.submit();
        }
    };
</script>





