@model Medinlinea.Models.Curriculums

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrap">
    <div class="col-xs-12 col-sm-12">
        <div class="cajaTitulo">
            <p class="text-center" style="font-size:30px !important; color:white;">DETALLE CURRICULUM</p>
        </div>
    </div>
    <!--DATOS DEL LADO IZQUIERDO-->
    <div id="div_info_perfil" style="display:block" class="col-xs-12 col-sm-12 col-md-9 col-lg-8 col-lg-offset-2">

        <!--DATOS DEL CANDIDATO-->
        <br>
        <br>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

            <div class="col-xs-3 col-sm-3 img-perfilDos">
                <span></span>
                <img id="foto" class="img-responsive" src="@Model.ImagenCV">
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8" id="seccion_informacion">
            <br>
            <br>
            <div class="cajaTituloTrayectoria">
                <p class="letterTituloContacto text-center"><span class="titulosGeneralesPerfil">DESCRIPCIÓN</span></p>
            </div>

            <!--DATOS DE PERFIL PROFESIONAL-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="perfilProfesional">
                    <span id="perfil_profesional">@Model.DescripcionCV</span>
                </p>
                <hr class="separar">
            </div>
            <br>
            <br>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.IdCV }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>

</div>