@model Medinlinea.Models.Curriculums

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Style/estilos.css" rel="stylesheet" />
<link href="~/lib/bootstrap-rating/css/star-rating.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap-rating/css/star-rating.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="cajaTitulo">
                <p class="text-center" style="font-size:30px !important; color:white;">EDITAR CURRICULUM</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">

            <form id="form-especialista" enctype="multipart/form-data" action="~/Curriculum/Edit" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="IdCV" id="IdCV" value="@Model.IdCV" />
                <section>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Descripción</label>
                        <div class="col-sm-9">
                            <textarea maxlength="10000" id="DescripcionCV" name="DescripcionCV" class="textarea form-control textarea-height">@Model.DescripcionCV</textarea>
                        </div>
                    </div>

                    <br><br>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Imagen</label>
                        <div class="col-sm-9">
                            <input type="file" class="form-control" id="ImagenCV" name="ImagenCV" placeholder="Ingresa la imagen">
                        </div>
                    </div>
                    <br><br>
                    <br><br>
                    <div class="center-block">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="submit" class="btn btn-danger">Cancelar</button>
                    </div>
                </section>
            </form>

        </div>
    </div>
</div>
